@media all and (max-width: 1023px){
	#topbar{
		text-align:center;
		width: 95%;
		margin-left: auto;
		margin-right: auto;		
	}

	#logo{
		font-family: 'Futura';
		display: inline;
		padding: 10px;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.nav{
		/*float:right;*/
		display:block;
		padding-top:12px;
		text-align:center;
		width: 308px;
		margin-left: auto;
		margin-right: auto;
	}

	a, a:hover{
		color: #000;
	}

	.nav-pills{
		display:block;
		width: 308px;
		margin-left: auto;
		margin-right: auto;
	}

	.nav-pills > li.active > a,
	.nav-pills > li.active > a:hover,
	.nav-pills > li.active > a:focus {
	  color: #FFF;
	  background-color: #FF7878;
	}

	.nav-stacked{
		/*float:left;*/
		text-align:center;
		width: 50%;
		margin-left:auto;
		margin-right:auto;
	}

	.galleryContainer{
		/*padding-left: 20%;*/
		padding-top: 1%;
	}

	.contentContainer{
		padding-top: 15%;
		text-align: justify;
		/*position: relative;*/
		width: 70%;
		/*display: block;*/
		margin-left: auto;
		margin-right:auto;	
	}

	.image-wrapper
	{
		text-align:center;
		/*position: relative;*/
	}

	.scale-image
	{
		width: auto;
		max-width: 40%;
	}
}

@media all and (min-width: 1024px){
	#topbar{
		width: 100%;
	}

	#logo{
		font-family: 'Futura';
		display: inline;
		padding: 10px;
	}

	.nav{
		float:right;
		display: inline;
		padding-top:12px;
	}

	a, a:hover{
		color: #000;
	}

	.nav-pills > li.active > a,
	.nav-pills > li.active > a:hover,
	.nav-pills > li.active > a:focus {
	  color: #FFF;
	  background-color: #FF7878;
	}

	.nav-stacked{
		float:left;
	}

	.galleryContainer{
		padding-left: 20%;
		padding-top: 1%;
	}

	.contentContainer{
		padding-top: 15%;
		text-align: justify;
		/*position: relative;*/
		width: 70%;
		/*display: block;*/
		margin-left: auto;
		margin-right:auto;	
	}

	.image-wrapper
	{
		text-align:center;
		/*position: relative;*/
	}

	.scale-image
	{
		width: auto;
		max-width: 40%;
	}
}

#contactContainer{
	text-align: center;
}