@media all and (max-width: 599px){
	p{
		font-family: 'Lato', sans-serif;
		font-weight:300;
		font-size:16px;
	}
	h2{
		font-family: 'Lato', sans-serif;
		font-weight:700;
		font-size:32px;
	}
	#topbar{
		background-color:#1E2021;
		color:#fff;
		position:fixed;
		left:0px;
		width:100%;
		z-index:9;
	}
	#bottombar{
		background-color:#1E2021;
		color:#fff;
		width: 100%;
	}

	.socialIcon{
		padding-left:12px;
		/*display:inline;*/
	}

	#logo{
		/*font-family: 'Futura';*/
		display: inline;
		padding-top:10px;
		padding-left: 3%;
	}

	.page-header{
		padding-top:6px;
		padding-bottom:6px;
		margin:0px;
	}

	.nav, .dropdown{
		color:#fff;
		/*float:right;*/
		/*display: inline;*/
		display:table;
		width: auto;
		padding-top:15px;
		padding-right:6%;
		margin: 0 auto;

		;
	}

	.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:active{
		background-color:#1E2021;
		border-color:#fff;
		color:#fff;			
	}

	.dropdown-menu{
		background-color:#1E2021;
		border-color:#fff;		
	}

	.dropdown-menu > li > a{
		color:#fff;
		font-weight:300;
	}

	a, a:hover{
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight:300;
	}

	.nav-pills > li.active > a,
	.nav-pills > li.active > a:hover,
	.nav-pills > li.active > a:focus {
	  color: #FFF;
	  background-color: #FF7878;
	}

	.nav-stacked{
		float:left;
	}

	.galleryContainer{
		padding-left: 1%;
		padding-top: 144px;
	}

	.contentContainer{
		padding-top: 180px;
		text-align: justify;
		/*position: relative;*/
		width: 70%;
		/*display: block;*/
		margin-left: auto;
		margin-right:auto;	
	}
	.image-wrapper{
		text-align:center;
	}

	.scale-image
	{
		width: auto;
		max-width: 30%;
	}
	.scale-image2
	{
		width: auto;
		max-width: 15%;
	}
}

@media all and (min-width: 600px){
	p{
		font-family: 'Lato', sans-serif;
		font-weight:300;
		font-size:16px;
	}
	h2{
		font-family: 'Lato', sans-serif;
		font-weight:700;
		font-size:32px;
	}
	#topbar{
		background-color:#1E2021;
		color:#fff;
		position:fixed;
		left:0px;
		width:100%;
		z-index:9;
	}
	#bottombar{
		background-color:#1E2021;
		color:#fff;
		width: 100%;
	}

	.socialIcon{
		padding-left:50px;
		display:inline;
	}

	#logo{
		/*font-family: 'Futura';*/
		display: inline;
		padding-top:50px;
		padding-left: 3%;
	}

	.page-header{
		padding-top:6px;
		padding-bottom:6px;
		margin:0px;
	}

	.nav, .dropdown{
		color:#fff;
		float:right;
		display: inline-flex;
		padding-top:20px;
		padding-right:6%;
		;
	}

	.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:active{
		background-color:#1E2021;
		border-color:#fff;
		color:#fff;			
	}

	.dropdown-menu{
		background-color:#1E2021;
		border-color:#fff;		
	}

	.dropdown-menu > li > a{
		color:#fff;
		font-weight:300;
	}

	a, a:hover{
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight:300;
	}

	.nav-pills > li.active > a,
	.nav-pills > li.active > a:hover,
	.nav-pills > li.active > a:focus {
	  color: #FFF;
	  background-color: #FF7878;
	}

	.nav-stacked{
		float:left;
	}

	.galleryContainer{
		padding-left: 1%;
		padding-top: 108px;
	}

	.resumeContainer{
		width: 718px;
		margin-left:auto;
		margin-right:auto;
	}

	.contentContainer{
		padding-top: 144px;
		text-align: justify;
		/*position: relative;*/
		width: 70%;
		/*display: block;*/
		margin-left: auto;
		margin-right:auto;	
	}
	.image-wrapper{
		text-align:center;
	}

	.scale-image
	{
		width: auto;
		max-width: 30%;
	}
	.scale-image2
	{
		width: auto;
		max-width: 15%;
	}
}

#contactContainer{
	text-align: center;
}